<div class="row">
  <div class="col-md-5">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1> New Recipe  </h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li href="#">To Shopping List</li>
        <li href="#">Edit Recipe</li>
        <li href="#">Delete Recipe</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Desciption
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
      Ingrediants
  </div>
</div>
